@import url("./utils/variables.css");

@import url("./base/common.css");
@import url("./base/container.css");
@import url("./layout/header.css");
@import url("./layout/footer.css");
@import url("./layout/modal-window.css");
@import url("./layout/sections-index.css");
@import url("./layout/sections-portfolio.css");

.hero-back-gr-image {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/mobile-images/Dark-bg1x.jpg");
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-back-gr-image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/mobile-images/Dark-bg@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-back-gr-image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet-images/Dark-bg1x.jpg");

    width: 100%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-back-gr-image {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/tablet-images/Dark-bg@2x.jpg");
    }
  }
}
@media screen and (min-width: 1168px) {
  .hero-back-gr-image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/desktop-images/people-office1x.jpg");

    width: 100%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-back-gr-image {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/desktop-images/people-office@2x.jpg");
    }
  }
}
