@import url(./utils/variables.css);

@import url(./base/common.css);
@import url(./base/container.css);
@import url(./layout/header.css);
@import url(./layout/footer.css);
@import url(./layout/modal-window.css);
@import url(./layout/sections-index.css);
@import url(./layout/sections-portfolio.css);
.hero-back-gr-image {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/mobile-images/Dark-bg1x.jpg");
}
