
/* header */

/* </header> */

/* <section 1> */
/* .hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--navy-blue);
}
.hero-back-gr-image {
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people_office.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
}

.hero-title {
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  text-align: center;
}
.hero-button {
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--iris);
  color: var(--white);
  cursor: pointer;
  align-items: center;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background: var(--ocean);
  color: var(--white);
} */
/* </section 1> */

/* <section2> */
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
.advantages-section-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list-item {
  width: calc((100% - 72px) / 4);
}

.advantages-list-icon_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  background-color: var(--cloud);
  border-radius: 4px;
}

.advantages-list-item-title {
  margin-bottom: 8px;
  color: var(--grey);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.advantages-list-item-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* </section2> */

/* <section3> */

.we-do {
  padding-bottom: 120px;
}
.we-do-section-title {
  margin-bottom: 72px;
  color: var(--grey);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.we-do-list {
  display: flex;
  gap: 24px;
}
/* </section3> */

/* <section4> */

.our-team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.our-team-section-title {
  margin-bottom: 72px;
  color: var(--grey);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.description-person {
  padding: 32px 0;
}
.our-team-list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-team-list-item-title {
  margin-bottom: 8px;
  text-align: center;
  color: var(--grey);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.our-team-list-item-text {
  text-align: center;
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.socials-list {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 24px;
}
.social-link {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:focus,
.social-link:hover {
  background-color: var(--ocean);
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--cloud);
  width: 16px;
  height: 16px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}
.our-team-list-item {
  background-color: white;
}
.our-team {
  background-color: var(--cloud);
}
.our-team-list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

/* </section4> */

/* <section 5> */
.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-section-title {
  margin-bottom: 72px;
  color: var(--grey);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.customers-list {
  justify-content: center;
  display: flex;
  gap: 24px;
}
.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  color: var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-link:hover,
.customers-list-link:focus {
  color: var(--ocean);
  border-color: var(--ocean);
}
.customers-list-item {
  justify-content: center;
  align-items: center;
  display: flex;
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-icon {
  fill: currentColor;
}
.contacts-list-link {
  width: 100%;
  height: 100%;
}

/* portfolio page */
.section-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2;
}

.portfolio-page-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
/* filter buttons */
.filter-list {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.filter-button {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  font-size: 16px;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  color: var(--iris);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  border: 1px solid transparent;
  color: var(--white);
  background-color: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.description-app {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
.gallery-list-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.gallery-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
.gallery-link:hover .overlay-text,
.gallery-link:focus .overlay-text {
  transform: translateY(0%);
}
.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-text {
  position: absolute;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  color: var(--cloud, #f4f4fd);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list-item-title {
  margin-bottom: 8px;
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.gallery-list-item-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
