@media screen and (min-width: 320px) {
  .footer {
    background-color: var(--navy-blue);
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-logo-text {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 264px;
    margin-bottom: 72px;
  }

  .logotype-white {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 800;
    font-family: Raleway, sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
  }

  .second-part-white-logo {
    color: var(--cloud);
  }
  .footer-text {
    max-width: 264px;
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .socials-text {
    color: var(--white);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }
  .footer-socials-list {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  .footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris);
    color: var(--cloud);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social-icon {
    fill: currentColor;
  }
  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: var(--green);
  }
  .container-socials {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 72px;
  }
  .container-subscribe {
    text-align: center;
    width: 100%;
  }

  .subscribe-desc {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
  }

  .subscribe-form-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    outline: color(transparent);
    border-radius: 4px;
    border: 1px solid var(--white, #fff);
    color: var(--white, #fff);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 16px;
  }
  .subscribe-form-input::placeholder {
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;
  }
  .subscribe-form-input:focus {
    outline: transparent;
  }

  .subscribe-button {
    background-color: var(--iris);
    color: var(--white);
    border-radius: 4px;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 165px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
  }

  .subscribe-button:hover,
  .subscribe-button:hover {
    background-color: var(--ocean);
  }
  .subscribe-button-icon {
    margin-left: 16px;
    fill: var(--white);
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    align-items: baseline;
    column-gap: 24px;
    row-gap: 72px;
    margin-left: 108px;
    flex-wrap: wrap;
  }
  .container-logo-text {
    align-items: start;
    margin: 0;
  }
  .container-socials {
    text-align: left;
    margin: 0;
  }
  .container-subscribe {
    text-align: left;
  }
  .subscribe-form-input {
    min-width: 264px;
  }
  .subscribe-form {
    display: flex;
    gap: 24px;
  }
  .subscribe-button {
    margin: 0;
  }
}
@media screen and (min-width: 1158px) {
  .footer-container {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    column-gap: 0px;
    flex-wrap: nowrap;
  }
  .container-logo-text {
    margin-right: 120px;
  }
  .container-socials {
    margin-right: 80px;
  }
}
/* .footer {
  background-color: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.container-logo-text {
  margin-right: 120px;
}

.logotype-white {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 800;
  font-family: Raleway, sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.second-part-white-logo {
  color: var(--cloud);
}
.footer-text {
  max-width: 264px;
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.socials-text {
  color: var(--white);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-socials-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  color: var(--cloud);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  fill: currentColor;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}
.container-socials {
  margin-right: 80px;
}

.subscribe-desc {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}
.subscribe-form-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  outline: color(transparent);
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  color: var(--white, #fff);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.48px;
  padding: 8px 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-form-input::placeholder {
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.48px;
}
.subscribe-form-input:focus {
  outline: transparent;
}

.subscribe-button {
  background-color: var(--iris);
  color: var(--white);
  border-radius: 4px;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  min-width: 165px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:hover {
  background-color: var(--ocean);
}
.subscribe-button-icon {
  margin-left: 16px;
  fill: var(--white);
} */
