.hero-back-gr-image {
  width: 100%;
  z-index: 9999;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(./images/mobile-images/Dark-bg1x.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-back-gr-image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(./images/mobile-images/Dark-bg@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-back-gr-image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(./images/tablet-images/Dark-bg1x.jpg);

    width: 100%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-back-gr-image {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(./images/tablet-images/Dark-bg@2x.jpg);
    }
  }
}
@media screen and (min-width: 1168px) {
  .hero-back-gr-image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(./images/desktop-images/people-office1x.jpg);

    width: 100%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-back-gr-image {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(./images/desktop-images/people-office@2x.jpg);
    }
  }
} */
@media screen and (min-width: 320px) {
  /* <section 1>*/
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: var(--navy-blue);
  }

  .hero-title {
    margin: 0 auto 72px auto;
    max-width: 320px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--white);
    text-align: center;
  }

  .hero-button {
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--iris);
    color: var(--white);
    cursor: pointer;
    align-items: center;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-button:hover,
  .hero-button:focus {
    background: var(--ocean);
    color: var(--white);
  }
  /* </section 1> */

  /* <section2> */
  .advantages {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .advantages-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .advantages-list-item {
    max-width: 100%;
  }

  .advantages-list-icon_bg {
    display: none;
  }

  .advantages-list-item-title {
    color: var(--navy-blue, #2e2f42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .advantages-list-item-text {
    color: var(--slate, #434455);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* </section2> */
  /* <section3> */
  .we-do {
    display: none;
  }

  /* </section3> */

  /* <section4> */
  .our-team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .our-team-section-title {
    margin-bottom: 72px;
    color: var(--navyblue, #2e2f42);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
  }
  .socials-list {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 24px;
  }
  .social-link {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link:focus,
  .social-link:hover {
    background-color: var(--ocean);
  }
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--cloud);
    width: 16px;
    height: 16px;
  }

  .our-team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .our-team-list-item {
    background-color: white;
  }
  .our-team {
    background-color: var(--cloud);
  }
  .our-team-list-item {
    margin-left: auto;
    margin-right: auto;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
  }
  .description-person {
    padding: 32px 16px;
  }
  .our-team-list-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .our-team-list-item-title {
    margin-bottom: 8px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue, #2e2f42);
  }
  .our-team-list-item-text {
    text-align: center;
    color: var(--slate, #434455);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  /* </section4> */

  /* <section 5> */
  .customers-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .customers-section-title {
    margin-bottom: 72px;
    color: var(--navy-blue, #2e2f42);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
  }
  .customers-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
  }
  .customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--light-slate);
    color: var(--light-slate);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers-list-link:hover,
  .customers-list-link:focus {
    color: var(--ocean);
    border-color: var(--ocean);
  }
  .customers-list-item {
    justify-content: center;
    align-items: center;
    display: flex;
    width: calc((100% - 16px) / 2);
    height: 88px;
  }
  .customers-icon {
    fill: currentColor;
  }
  /* </section5> */
}

/* tablet-styles */

@media screen and (min-width: 768px) {
  .hero-title {
    margin: 0 auto 36px auto;
  }
  /* section2 */
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .advantages-list-item {
    width: calc((100% - 24px) / 2);
  }
  .advantages-list-item-title {
    text-align: left;
  }
  /* section2 */

  /* section3 */
  .our-team-list {
    flex-direction: row;
    justify-content: center;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 64px;
  }
  .our-team-list-item {
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    margin: 0;
  }
  /* section3 */
  /* section4 */

  .customers-list-item {
    width: calc((100% - 48px) / 3);
  }
  .mobile-menu-open-button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }

  /* section4 */
}
/* desktop styles */

@media screen and (min-width: 1158px) {
  /* section1 */
  .hero {
    padding: 188px 0;
  }
  .hero-title {
    margin: 0 auto 48px auto;
  }
  /* section1 */

  /* section2 */
  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .advantages-list-icon_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--cloud);
    border-radius: 4px;
  }

  .advantages-list {
    flex-direction: row;
    column-gap: 24px;
  }
  .advantages-list-item {
    width: calc((100% - 72px) / 4);
  }
  .advantages-list-item-title {
    text-align: left;
  }
  /* section2 */

  /* section3 */
  .we-do {
    display: block;

    padding-bottom: 120px;
  }
  .we-do-section-title {
    margin-bottom: 72px;
    color: var(--grey);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
  }
  .we-do-list {
    display: flex;
    gap: 24px;
  }
  /* section3 */
  /* section5 */
  .customers-list-item {
    width: calc((100% - 120px) / 6);
  }

  /* section5 */
}
